/* 全体 */

body{
margin:0;
overflow:hidden;
font-family:sans-serif;
background:black;
}

/* カメラ画面 */

.camera-area{
position:fixed;

top:0;
left:0;

width:100vw;
height:100vh;

overflow:hidden;
}

/* カメラ映像 */

#video{
width:100%;
height:100%;

object-fit:cover;
}

/* フレーム */

#frame{
position:absolute;

top:0;
left:0;

width:100%;
height:100%;

object-fit:cover;

pointer-events:none;
}

/* ボタン */

.controls{
position:fixed;

bottom:20px;
left:0;

width:100%;

display:flex;

justify-content:space-around;
align-items:center;

z-index:10;
}

/* 丸ボタン */

.circle-btn{

width:70px;
height:70px;

border-radius:50%;

border:none;

font-size:28px;

background:white;
}

/* シャッター */

.shutter-btn{

width:90px;
height:90px;

border-radius:50%;

border:none;

background:white;

border:6px solid #ddd;
}

/* カウント */

#count{
position:fixed;

top:50%;
left:50%;

transform:translate(-50%,-50%);

font-size:120px;
font-weight:bold;

color:white;

display:none;

z-index:100;
}

/* フラッシュ */

#flash{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:white;

opacity:0;

pointer-events:none;

z-index:200;
}

/* モーダル */

.modal{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.7);

display:none;

justify-content:center;
align-items:center;

z-index:300;
}

/* 白ボックス */

.modal-content{

width:85%;
max-width:400px;

background:white;

border-radius:20px;

padding:20px;

text-align:center;
}

/* 完成画像 */

#result{
width:100%;

border-radius:10px;
}

/* 閉じる */

.close-btn{

margin-top:20px;

padding:12px 24px;

border:none;

border-radius:10px;

background:orange;

color:white;

font-size:18px;
}

/* 動かせるキャラ */

#character{

position:absolute;

top:200px;
left:100px;

width:120px;

z-index:5;

touch-action:none;
}

/* 固定フレーム */

#frame{

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

object-fit:cover;

pointer-events:none;

z-index:10;
}